body {
    margin: 0;
    padding: 0;
}
#c1{
    background-image: url("../images/bai2-london-monaco/Chapter-1.jpg");
}
#c2 {
    background-image: url("../images/bai2-london-monaco/Chapter-2.jpg");
}
#c3 {
    background-image: url("../images/bai2-london-monaco/Chapter-3.jpg");
}
#c4 {
    background-image: url("../images/bai2-london-monaco/Chapter-4.jpg");
}
nav ul {
    width: 100%;
    height: 180px;
    background-color: #fff;
    color: white;
    text-transform: uppercase;
    padding:  0;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}

nav ul li {
    height: 100%;
    padding: 0 20px;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    float: left;
    font-size: 14px;
    color: #003d6b;
    font-family: Oswald, sans-serif;
    font-weight: 600;
}

#logo {
    margin: 20px 200px;
}
.chapter {
    width: 100%;
    height: 700px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    position: relative;
}

.chapter p {
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 300px;
    font-weight: bold;
    font-family: Roboto,sans-serif;
    color: #ecf0f1;
    border: 20px solid white;

}
.content {
    height: 1300px;
    font-family: "Raleway ExtraBold",sans-serif;
    font-size: 60px;
    text-align: center;
}
button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 183, 212, 0.78);
    border: none;
    border-radius: 40px 40px 3px 3px;
    color: whitesmoke;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

span {
    display: block;
    margin-top: 7px;
    font-size: 13px;
}
